<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img class="flex-content"
  src="../../../assets/images/student_status.jpeg"></ion-img>

  <br><br>

  <div class="espacamento">    
    
      <ion-button (click)="listaInsignias()">Insígnias ({{usuario.insigniasConquistadas.length}}/15)</ion-button>    
  </div>
 
</ion-content>
